@import url("reset.css");
@import url("fonts.css");

body {}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

[class*="container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header {}

.page {}

.products {
	font-family: "Poppins", serif;
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 100px;
	padding-top: 15px;
}

.products__container {
	max-width: 294px;
}

.product {
	max-width: 264px;
	position: relative;
	border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
}

.product:hover {
	border: 1px solid var(--Branding-Success-Dark, #2C742F);
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.product__img {
	padding: 5px;
}

.product__img>img {
	width: 100%;
	height: 100%;
}

.product__general-info {
	font-size: 0;
	position: relative;
	padding: 12px;
}

.product__info {
	vertical-align: top;
	display: inline-block;
	width: 180px;
	margin-right: 16px;
}

.product__name {
	font-size: 14px;
	color: #2C742F;
}

.product__name:hover {
	text-decoration: underline;
}

.product__price {
	color: #1A1A1A;
	font-size: 16px;
	font-weight: 500;
}

.product__wrapper-btn-bag {
	display: inline-block;
	padding-top: 2.5px;
}

.product__actions {
	position: absolute;
	max-width: 40px;
	top: 16px;
	right: 16px;
}

.product__actions.product__actions--visible>img {
	opacity: 1;
	visibility: visible;
}

.product__actions.product__actions--static {
	position: static;
}


.product__actions>*:not(:last-child) {
	margin-bottom: 6px;
}

.product__actions>img {
	opacity: 0;
	visibility: hidden;
	width: 40px;
	height: 40px;
	padding: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.product:hover .product__actions>img {
	opacity: 1;
	visibility: visible;
}

.product__actions>img:hover {
	background-color: #00B207;
	cursor: pointer;
}


.product__heart {}

.product__eye {}

.product__bag {}

.technologies {
	position: relative;
	margin-top: -70px;
	margin-bottom: -30px;
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 1.66667;
}

.technologies__bg {
	z-index: -1;
	position: absolute;
	background: url("../img/technologies-bg-medium.svg") 0 0 / 100% 100% no-repeat;
	top: 70px;
	bottom: 30px;
	width: 100%;
}

.technologies__bg::before {
	content: "";
	position: absolute;
	background: url("../img/technologies-bg-top.svg") top / 100% 100% no-repeat;
	top: -30px;
	height: 30px;
	width: 100%;
}

.technologies__bg::after {
	content: "";
	position: absolute;
	background: url("../img/technologies-bg-bottom.svg") bottom / 100% 100% no-repeat;
	bottom: -30px;
	height: 30px;
	width: 100%;
}

.technologies__container {
	max-width: 1260px;
}

.technologies__body {}

.technologies__body>*:not(:last-child) {
	margin-bottom: 55px;
}

.technologies__row {
	font-size: 0;
}

.technologies__row:nth-child(even) {
	padding-left: 250px;
}

.technologies__row>* {
	display: inline-block;
	vertical-align: top;
}

.technologies__row>*:not(:last-child) {
	margin-right: 70px;
}

.technologies__img {
	position: relative;
	max-width: 430px;
	height: 548px;
}

.technologies__row:nth-child(odd) .technologies__img::before {
	content: "";
	position: absolute;
	top: 168px;
	right: 137px;
	width: 421px;
	height: 722px;
	z-index: -1;
	background: url("../img/circle-small.svg") 0 0 / 65px no-repeat, url("../img/circle-big.svg") 20px 45px / 401px no-repeat, url("../img/filled-circle-very-small-group.svg") 33px 249px / 214px 472px no-repeat;
}

.technologies__row:nth-child(even) .technologies__img {
	box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
}

.technologies__row:nth-child(even) .technologies__img::before {
	content: "";
	position: absolute;
	bottom: 144px;
	left: 141px;
	width: 472px;
	height: 430px;
	z-index: -1;
	background: url("../img/circle-medium.svg") 156px 0 / 262px no-repeat, url("../img/filled-circle-very-small-group-vertical.svg") left bottom / 472px 214px no-repeat;
}

.technologies__row:nth-child(even) .technologies__img::after {
	content: "";
	position: absolute;
	top: -48px;
	left: 92px;
	width: 65px;
	height: 65px;
	background: url("../img/circle-small.svg") 0 0 / 65px no-repeat;
}

.technologies__img img {
	width: 100%;
	height: 100%;
}

.technologies__inner-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
}

.technologies__content {
	max-width: 602px;
	padding-top: 138px;
}

.technologies__row:nth-child(even) .technologies__content {
	max-width: 480px;
	padding-top: 30px;
}

.technologies__info {
	margin-bottom: 40px;
}

.technologies__info>*:not(:last-child) {
	margin-bottom: 13px;
}

.technologies__title {
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
}

.technologies__text {
	font-size: 18px;
}

.technologies__text>*:not(:last-child) {
	margin-bottom: 9px;
}

.technologies__link {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.16666667;
	padding: 21.5px 26px;
	border-radius: 60px;
	background: #F35B09;
}

.technologies__link:hover {
	text-decoration: underline;
}

.footer {}