@import url("reset.css");

header {
	color: brown;
}

.nav {
	color: aqua;
}

p {
	color: rgb(134, 69, 51);
}

h2 {
	color: darkmagenta !important
}

li>p {
	color: darkblue;
}

.text {
	color: #a0f0fc;
}

[class*=tex] {
	color: chartreuse;
}

h3.text {
	color: darkseagreen
}

h2+p {
	color: chocolate;
}

.text mark {
	color: darkred
}

text,
link {
	color: gold;
}

p.text {
	color: #4597f7;
}


#additional-hw>*>li {
	color: red;
}

#additional-hw>*>li~li {
	color: green;
}

#additional-hw>*>li>*>li {
	color: blue;
}

#additional-hw>*>li>*>li~li {
	color: orange;
}

#additional-hw>*>li>*>li>*>li {
	color: #4597f7;
}

#additional-hw>*>li>*>li>*>li~li {
	color: #5d5d5d;
}

#additional-hw>*>li>*>li>span {
	color: #a0f0fc;
}